@model FlyBugClub_WebApp.Models.User

@{
    Layout = "~/Views/Shared/_LayoutDashboardUser.cshtml";
}

<div class="wrap-info-user change-info">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="avatar-area center">
                    <img class="change-avatar" src="~/img/core_team/IMG_0042.jpg" alt="logo" class="avatar">
                    @*<input type="file" asp-for="ImgUser" id="upload-img" value="Change"/>*@
                    <button id="upload-img"></button>

                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>

                            <p>Some text in the Modal..</p>
                        </div>

                    </div>
                </div>
            </div>
            <form asp-action="Finish_ChangeInfoUser" class="ChangeInfoUser">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="StudentId" />

                            <div class="form-group">
                                <label asp-for="Name" class="control-label">Họ và tên</label>
                                <input asp-for="Name" class="form-control" value="@ViewBag.Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Gender" class="control-label">Giới tính</label>
                                <select asp-for="Gender" class="form-control">
                                    <option selected>@ViewBag.Gender</option>
                                    <option>Nam</option>
                                    <option>Nữ</option>
                                    <option>Khác</option>
                                </select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Phone" class="control-label">Số điện thoại</label>
                                <input asp-for="Phone" class="form-control" value="@ViewBag.Phone" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Address" class="control-label">Địa chỉ</label>
                                <input asp-for="Address" class="form-control" value="@ViewBag.Address" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Major" class="control-label">Khoa</label>
                                <input asp-for="Major" class="form-control" value="@ViewBag.Major" />
                                <span asp-validation-for="Major" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Faculty" class="control-label">Ngành</label>
                                <input asp-for="Faculty" class="form-control" value="@ViewBag.Faculty" />
                                <span asp-validation-for="Faculty" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group btn-submit">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("upload-img");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>