
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity;
@model MenuCard
@{
    Layout = "~/Views/Shared/_LayoutDashboardUser.cshtml";
    string userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}
<h2 class="title-favorite">Sản phẩm yêu thích</h2>
<hr style="width:100%;text-align:left;margin-left:0; color:white; height: 2px; margin-top: 8px;">
<div class="container">
    <div class="item-store">
        <div class="row">
                @if (Model.GetDeviceFavorite != null)
                {
                    @foreach (var item in Model.GetDeviceFavorite)
                    {
                        if(item.Status == 1)
                        {
                            <div class="col col-xl-4">
                                <div class="item-card">
                                    <a id="productLink" asp-controller="AccountController" asp-action="FavoriteDevice">
                                        <img src="~/img/img_products/@item.ImagePath" alt="Photo item store">
                                        <h3>@item.Name</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur praesentium?</p>
                                        <div class="center icon-card">
                                            <button class="icon icon-love" data-index="@item.DeviceId" asp-route-id="@item.DeviceId" onclick="handleButtonClick(this)">
                                                <a href="#" title="Yêu thích">
                                                    <i class="fa-heart fa-solid"></i>
                                                </a>
                                            </button>

                                            <button class="icon icon-share">
                                                <a asp-controller="Store" asp-action="AddToCard" asp-route-id="@item.DeviceId" title="Bỏ giỏ">
                                                    <i class="fa-solid fa-cart-plus"></i>
                                                </a>
                                            </button>
                                        </div>
                                        <div class="center item-price">
                                            <h2>@item.Price.ToString("0.000") VNĐ</h2>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                        else if(item.Status == 0)
                        {
                            <div class="col col-xl-4">
                                <div class="item-card sold-out-card">
                                    <p class="sold-out">Hết hàng</p>
                                    <a id="productLink" asp-controller="Store" asp-action="DetailCard" asp-route-Id="@item.DeviceId">
                                        <img src="~/img/img_products/@item.ImagePath" alt="Photo item store">
                                        <h3>@item.Name</h3>
                                        <p>Hết hàng</p>
                                        <div class="center icon-card">
                                            <button class="icon icon-love" data-index="@item.DeviceId" asp-route-id="@item.DeviceId" onclick="handleButtonClick(this)">
                                                <a href="#">
                                                    <i class="fa-regular fa-heart"></i>
                                                </a>
                                            </button>
                                            <button class="icon icon-share" disabled>
                                                <a href="javascript:void(0);">
                                                    <i class="fa-solid fa-cart-plus"></i>
                                                </a>
                                            </button>
                                        </div>
                                        <div class="center item-price">
                                            <h2> Liên hệ </h2>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                }
                else
                {
                    <p>Chưa có thêm thiết bị ưu thích</p>
                }            
        </div>
    </div>
</div>

<script>
    function handleButtonClick(button) {
        event.preventDefault();

        var status;
        var heartIcon_regular = button.querySelector('i.fa-heart.fa-regular');
        var heartIcon_solid = button.querySelector('i.fa-heart.fa-solid');
        // tim rong
        if (heartIcon_regular != null) {
            status = "true";
        }
        // tim dac
        else if (heartIcon_solid != null) {
            status = "false";

        }

        var deviceId = button.getAttribute("data-index");

        // Sử dụng userId ở phạm vi JavaScript

        var userId = "@userId";
        if (userId !== "") {

            fetchData(userId, deviceId, status);

        }

        async function fetchData(userId, deviceId, status) {
            const response = await fetch(`/api/users/getuserbyuid?uid=${userId}&deviceid=${deviceId}&status=${status}`);

            if (response.ok) {


                if (status === "true") {
                    heartIcon_regular.classList.remove('fa-regular');
                    heartIcon_regular.classList.add('fa-solid');
                }
                else {
                    heartIcon_solid.classList.remove('fa-solid');
                    heartIcon_solid.classList.add('fa-regular');
                }
            }

        }
    }
</script>
