@{
    Layout = null;
}

@{
    //ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<body>
    <div class="screen">
        <div class="container">
            <div class="wraper-account">
                <div class="row">
                    <div class="col-5">
                        <div class="wrap-content-account">
                            <img class="img-logo" src="~/img/img_logo/logo-E-W.png" />
                            <p class="title-content-account">Chào mừng đến FlyBug Club</p>
                            <div class="center line-symbol">
                                <hr style="width:50%;text-align:left; color:white; height: 2px; margin-left: 30px;">
                                <i class="fa-solid fa-angle-down"></i>
                                <hr style="width:50%;text-align:left; color:white; height: 2px; margin-right: 30px;">
                            </div>
                            <div class="center">
                                <form method="post" action="/Account/ResetPassword">
                                    <div class="form-floating">
                                        @* <label>@ViewBag.ResetNewPassword</label> *@
                                        <input type="password" name="newPassword" placeholder="Mật khẩu mới" value="@ViewBag.ValueResetNewPassword" />
                                    </div>
                                    <div class="form-floating">
                                        @* <label>@ViewBag.ResetConformPassword</label> *@
                                        <input type="password" name="confirmPassword" placeholder="Xác nhận mật khẩu" value="@ViewBag.ValueResetConformPassword" />
                                    </div>
                                    <div class="center">
                                        <button type="submit" class="submit">Đổi mật khẩu</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="content-login">
                            <img class="img-background" src="~/img/img_background/bg2.gif" />
                            <div class="content-on-background">
                                <p class="slogan-in-account"><span>CREATE</span> THE <span>TALENT</span> WITH YOUR <span>PASSION</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




@*<div class="full-screen">
        <div>
            <div class="img">
                <img src="~/img/img_logo/Bug(Đen)1.png" alt="photo logo" />
            </div>
            <div>
                <form method="post" action="/Account/ResetPassword">

                    <label>@ViewBag.ResetNewPassword</label>
                    <input type="password" name="newPassword" placeholder="Mật khẩu mới" value="@ViewBag.ValueResetNewPassword" />

                    <label>@ViewBag.ResetConformPassword</label>
                    <input type="password" name="confirmPassword" placeholder="Xác nhận mật khẩu" value="@ViewBag.ValueResetConformPassword" />

                    <button type="submit">Đổi mật khẩu</button>
                </form>
            </div>
        </div>
    </div> *@
</body>