@using Microsoft.AspNetCore.Identity
@using FlyBugClub_WebApp.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = "~/Views/Shared/_LayoutDashboardUser.cshtml";
}

<div class="wrap-info-user">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @if (SignInManager.IsSignedIn(User))
                {
                    var user = await UserManager.GetUserAsync(User);
                    var ImgUser = user.ImgUser;

                    <div class="avatar">
                        <img src="~/img/img_user/@ImgUser" alt="avatar" />
                    </div>
                }
            </div>
            <div class="col-md-9">
                <div class="head-infouser">
                    <h2 class="hello">Hello</h2>
                    <a class="btn-settinginfo" asp-controller="Account" asp-action="ChangeInfoUser" asp-route-id=""><i class="fa-solid fa-gear"></i>Chỉnh sửa thông tin</a>
                </div>
                
                <h3>| @ViewBag.FullName |</h3>
                <h4 class="welcome">Welcome to FlyBug Club Website</h4>
                <hr />
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="single-info">
                                <b>MSSV/MSNV:</b>
                                <p>@ViewBag.UID</p>
                            </div>
                            <div class="single-info">
                                <b>Giới tính:</b>
                                <p>@ViewBag.Gender</p>
                            </div>
                            <div class="single-info">
                                <b>Số điện thoại:</b>
                                <p>@ViewBag.Phone</p>
                            </div>
                            <div class="single-info address">
                                <b>Địa chỉ: <span>@ViewBag.Address</span></b>
                            </div>
                        </div>
                        <div class="col">
                            <div class="single-info">
                                <b>Email:</b>
                                <p>@ViewBag.Email</p>
                            </div>
                            <div class="single-info">
                                <b>Khoa:</b>
                                <p>@ViewBag.Khoa</p>
                            </div>
                            <div class="single-info">
                                <b>Ngành:</b>
                                <p>@ViewBag.Nganh</p>
                            </div>
                            <div class="single-info">
                                <b>Vị trí:</b>
                                <p>@ViewBag.Position</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
