
<div class="center">
    
</div>

<div class="body">
    <section class="dashboard">
        <div class="container">
            <div class="row">
                <div class="col col-md-4">
                    <div class="income tagtop">
                        <div class="center title">
                            <div class="title-header">
                                <div class="icon-title">
                                    <img src="~/img/img_icon/income.png" alt="">
                                    <span><b>Income</b></span>
                                </div>
                                <div>
                                    <a href="#" class="link"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="money">
                            <span class="unit">đ/<sup>year</sup></span>
                            <span class="money">@ViewBag.TotalAmount.ToString("0.000")</span>
                        </div>
                        <div class="note">
                            <p><span><i class="fa-solid fa-sort-up"></i>14%</span>form yesterday</p>
                        </div>
                    </div>

                </div>
                <div class="col col-md-4">
                    <div class="income tagtop">
                        <div class="center title">
                            <div class="title-header">
                                <div class="icon-title">
                                    <img src="~/img/img_icon/sales.png" alt="">
                                    <span><b>Sales</b></span>
                                </div>
                                <div>
                                    <a asp-area="Admin" asp-controller="OrderProcessing" asp-action="Bill" class="link"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="money">
                            <span class="unit"></span>
                            <span class="money">@ViewBag.TotalQuantity</span>
                        </div>
                        <div class="note">
                            <p><span><i class="fa-solid fa-sort-up"></i>14%</span>form yesterday</p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="income tagtop">
                        <div class="center title">
                            <div class="title-header">
                                <div class="icon-title">
                                    <img src="~/img/img_icon/web-visit.png" alt="">
                                    <span><b>Total bill</b></span>
                                </div>
                                <div>
                                    <a href="#" class="link"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="money">
                            <span class="unit"></span>
                            <span class="money">@ViewBag.countTrue</span>
                        </div>
                        <div class="note">
                            <p><span><i class="fa-solid fa-sort-up"></i>14%</span>form yesterday</p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-8">
                    <div class="info-sales">
                        <div class="head-income">
                            <h5>Fanacial</h5>
                            <input type="month" class="fill-income" />
                        </div>
                        <form action="" class="income-form">
                            <div class="table-container">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="date">Date</th>
                                            <th class="income">Salary</th>
                                            <th>Payment</th>
                                            <th>Income</th>
                                        </tr>
                                    </thead>
                                    <tbody>
<<<<<<< Updated upstream

                                        <tr>
                                            <td>10/07/2023</td>
                                            <td>1.490.000 đ</td>
                                            <td>100.000 đ</td>
                                            <td>1.390.000 đ</td>
                                        </tr>

                                        
                                           @(await Component.InvokeAsync("_BillBorrow"))
                                           

=======
                                        
                                           @(await Component.InvokeAsync("_BillBorrow"))
                                           
>>>>>>> Stashed changes
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col col-md-4">


                     <form method="get" asp-area="Admin" asp-controller="Dashboard" asp-action="Dashboard">
                    <div class="form-group">
                        <label for="dayInput">Ngày</label>
                        <input type="text" class="form-control" id="dayInput" name="day">
                    </div>
                    <div class="form-group">
                        <label for="monthInput">Tháng</label>
                        <input type="text" class="form-control" id="monthInput"name="month">
                    </div>
                    <div class="form-group">
                        <label for="yearInput">Năm</label>
                        <input type="text" class="form-control" id="yearInput" name="year">
                    </div>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"></button>
                </form>
                    <!-- Modal for Month and Year Input -->
                    <!-- The Modal -->
                    <div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Modal Heading</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    Modal body..
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <script>
                        
                    </script>
                    <div class="calender-aera">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section></section>
</div>
