@*@model List<FlyBugClub_WebApp.Models.Device>*@
@model MenuCard

@using System.Security.Claims
@using Microsoft.AspNetCore.Identity;
<section class="body">
    <div class="container">
        <div class="row">
            <div class="col col-lg-3 left">
                <div class="search" id="scroll-area">
                    <div class="store-note">
                        <div class="center line-symbol">
                            <hr style="width:50%;text-align:left; margin-left: 30px;">
                            <p class="renting-privacy">Chính sách thuê</p>
                            <hr style="width:50%;text-align:left; margin-right: 30px;">
                        </div>
                        <div class="center">
                            <p><b>Bug Shop</b> là cửa hàng thiết bị chỉ dành cho sinh viên và nhân viên tại trường Đại học Hoa Sen. Chi phí thuê các thiết bị là 40% giá trị góc của thiết bị. Tuy nhiên khi cọc thiệt bị là 100% giá trị của thiết bị. Khi thiết bị được hoàn trả đầy đủ cửa hàng sẽ trả lại 60% tiền cọc thiết bị trước đó.</p>
                        </div>
                    </div>
                    <div class="center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="261" height="4" viewBox="0 0 261 4" fill="none">
                            <path d="M1 2.96216L260.993 0.99995" stroke="#3D3D3D" stroke-opacity="0.8" />
                        </svg>
                    </div>
                    <div class="shopping-function">
                        <p>Giỏ hàng</p>
                        <div class="center">
                            @if (Model.Card.GetCountItem() == 0)
                            {

                            }
                            else
                            {
                                <div class="qty">
                                    <p>@Model.Card.GetCountItem()</p>
                                </div>
                            }
                            <div class="center ">
                                <button class="icon-shopping">
                                    <a asp-action="Payment"
                                       asp-controller="Store">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                        <p>Hoặc tìm kiếm sản phẩm</p>
                        <form class="search-form" asp-controller="Store" asp-action="Search" method="get">
                            <div class="center">
                                <input type="text" class="text-input" id="keyword" name="keyword" onkeydown="return preventEnter(event)" value="@ViewBag.keyword" placeholder="Tìm kiếm..." />
                                <button type="submit" class="search-button" id="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col col-lg-9 right">
                <div class="center">
                    <div class="store">
                        <!-- <h1>Cửa hàng</h1> -->
                        <div class="fill-function">
                            @{
                                string userId = "";
                                
                                if (User.Identity.IsAuthenticated)
                                {
                                    userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
                                }
                            }
                            <div action="function-leftside">
                                <form method="get" asp-action="FillProduct" asp-controller="Store">
                                    <span>Bug Store</span>
                                    <select name="fillOption" id="fillOption" class="category" onchange="this.form.submit()">
                                        @if (ViewBag.fillOption == "all")
                                        {
                                            <option value="all" selected>Tất cả</option>
                                            <option value="1">Cảm biến</option>
                                            <option value="2">Phần cứng</option>
                                            <option value="3">Kết nối</option>
                                        }
                                        else if (ViewBag.fillOption == "1")
                                        {
                                            <option value="all">Tất cả</option>
                                            <option value="1" selected>Cảm biến</option>
                                            <option value="2">Phần cứng</option>
                                            <option value="3">Kết nối</option>
                                        }
                                        else if (ViewBag.fillOption == "2")
                                        {
                                            <option value="all">Tất cả</option>
                                            <option value="1">Cảm biến</option>
                                            <option value="2" selected>Phần cứng</option>
                                            <option value="3">Kết nối</option>
                                        }
                                        else if (ViewBag.fillOption == "3")
                                        {
                                            <option value="all">Tất cả</option>
                                            <option value="1">Cảm biến</option>
                                            <option value="2">Phần cứng</option>
                                            <option value="3" selected>Kết nối</option>
                                        }
                                        else
                                        {
                                            <option value="all" selected>Tất cả</option>
                                            <option value="1">Cảm biến</option>
                                            <option value="2">Phần cứng</option>
                                            <option value="3">Kết nối</option>
                                        }
                                    </select>
                                </form>
                            </div>

                            <form class="fill-form" method="get" asp-action="SortProduct" asp-controller="Store">
                                <div class="fill">
                                    <button type="submit" name="sortOption" value="BestSelling">Bán chạy</button>
                                    <button type="submit" name="sortOption" value="PriceAscending">Giá tăng dần</button>
                                    <button type="submit" name="sortOption" value="PriceDescending">Giá giảm dần</button>

                                </div>
                            </form>
                        </div>
                        <hr style="width:100%;text-align:left;margin-left:0; color:white; height: 2px; margin-top: 8px;">
                        <div class="item-store">
                            <div class="row">
                                @{
                                    
                                    var devices = Model.GetDevices; // Lấy danh sách thiết bị
                                    var BorrowRates = Model.borrowRate;
                                    var deviceCount = devices.Count(); // Số lượng thiết bị 
                                }

                                @for (int i = 0; i < deviceCount; i++)
                                {
                                    bool? Status=false;
                                    var item = devices[i];
                                    if (BorrowRates != null)
                                    {
                                        foreach (var BorrowRate in BorrowRates)
                                        {
                                            if (BorrowRate.DeviceId == item.DeviceId)
                                            {
                                                Status = BorrowRate.Status;
                                                break;
                                            }
                                        }
                                    }
                                   
                                    string loveStatus = Status == true ? "fa-solid" : "fa-regular";

                                    @if (item.Status == 1)
                                    {
                                        <div class="col col-xl-4">
                                            <div class="item-card">
                                                <a id="productLink" asp-controller="Store" asp-action="DetailCard" asp-route-Id="@item.DeviceId">
                                                    <img src="~/img/img_products/@item.ImagePath" alt="Photo item store">
                                                    <h3>@item.Name</h3>                                                    <p>Lorem ipsum dolor sit amet consectetur praesentium?</p>
                                                    <div class="center icon-card">
                                                        @*<button type="button" class="icon icon-share">
                                                            <a href="#" title="Chia sẽ">
                                                                <i class="fa-solid fa-share"></i>
                                                            </a>
                                                        </button>*@
                                                        <button class="icon icon-love" data-index="@item.DeviceId" asp-route-id="@item.DeviceId" onclick="handleButtonClick(this)">
                                                            <a href="#" title="Yêu thích">
                                                                <i class="fa-heart @loveStatus"></i>
                                                            </a>
                                                        </button>

                                                        <button class="icon icon-share">
                                                            <a asp-controller="Store" asp-action="AddToCard" asp-route-id="@item.DeviceId" title="Bỏ giỏ">
                                                                <i class="fa-solid fa-cart-plus"></i>
                                                            </a>
                                                        </button>
                                                    </div>
                                                    <div class="center item-price">
                                                        <h2>@item.Price.ToString("0.000") VNĐ</h2>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                    else if (item.Status == 0)
                                    {
                                        <div class="col col-xl-4">
                                            <div class="item-card sold-out-card">
                                                <p class="sold-out">Hết hàng</p>
                                                <a id="productLink" asp-controller="Store" asp-action="DetailCard" asp-route-Id="@item.DeviceId">
                                                    <img src="~/img/img_products/@item.ImagePath" alt="Photo item store">
                                                    <h3>@item.Name</h3>
                                                    <p>Hết hàng</p>
                                                    <div class="center icon-card">
                                                        <button class="icon icon-love" data-index="@item.DeviceId" asp-route-id="@item.DeviceId" onclick="handleButtonClick(this)">
                                                            <a href="#" title="Yêu thích">
                                                                <i class="fa-heart @loveStatus"></i>
                                                            </a>
                                                        </button>
                                                        <button class="icon icon-share" disabled>
                                                            <a href="javascript:void(0);">
                                                                <i class="fa-solid fa-cart-plus"></i>
                                                            </a>
                                                        </button>
                                                    </div>
                                                    <div class="center item-price">
                                                        <h2> Liên hệ </h2>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                }
                                </div>
                        </div>
                        @{
                            int currentPage = ViewBag.CurrentPage;
                            int totalPages = ViewBag.TotalPages;
                            int nextPage = ViewBag.NextPage;
                            int prevPage = ViewBag.PrevPage;
                            int maxVisiblePages = 3;
                        }
                        @if (ViewBag.TotalDevices > ViewBag.ItemsPerPage)
                        {
                            <div class="left-side" style="display:block">
                                <div class="pagination">
                                    <ul>
                                        @if (prevPage > 0)
                                        {
                                            <li class="btn-back">
                                                <a class="page-link" href="?page=@prevPage"><i class="fa-solid fa-location-arrow"></i></a>
                                            </li>
                                        }

                                        <li><a href="?page=1">1</a></li>

                                        @if (currentPage > maxVisiblePages / 2 + 1)
                                        {
                                            <li>...</li>
                                        }

                                        @for (int i = Math.Max(2, currentPage - (int)(maxVisiblePages / 2)); i <= Math.Min(totalPages - 1, currentPage + (int)(maxVisiblePages / 2)); i++)
                                        {
                                            if (i == currentPage)
                                            {
                                                <li class="active"><span>@i</span></li>
                                            }
                                            else
                                            {
                                                <li><a href="?page=@i">@i</a></li>
                                            }
                                        }

                                        @if (currentPage < totalPages - (int)(maxVisiblePages / 2))
                                        {
                                            <li>...</li>
                                        }

                                        <li><a href="?page=@totalPages">@totalPages</a></li>

                                        @if (nextPage <= totalPages)
                                        {
                                            <li class="btn-next">
                                                <a class="page-link" href="?page=@nextPage"><i class="fa-solid fa-location-arrow"></i></a>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        }
                        else if (ViewBag.TotalDevices <= ViewBag.ItemsPerPage)
                        {
                            <div class="left-side" style="height: 100px"></div>
                        }
                        @*<h1 style="color:white"></h1>*@

                    </div>
                </div>
            </div>          
        </div>
    </div>
</section>

<script>
    function handleButtonClick(button) {
        event.preventDefault();
        var status;
        var heartIcon_regular = button.querySelector('i.fa-heart.fa-regular');
        var heartIcon_solid = button.querySelector('i.fa-heart.fa-solid');
        // tim rong
        if (heartIcon_regular != null) {
            status = "true";
        }
        // tim dac
        else if (heartIcon_solid != null) {
            status = "false";

        }

        var deviceId = button.getAttribute("data-index");
        var userId = "@userId";
        if (userId !== "") {

            fetchData(userId, deviceId, status);

            if (status === "true") {
                heartIcon_regular.classList.remove('fa-regular');
                heartIcon_regular.classList.add('fa-solid');
            }
            else {
                heartIcon_solid.classList.remove('fa-solid');
                heartIcon_solid.classList.add('fa-regular');
            }
        }

        async function fetchData(userId, deviceId, status) {
            const response = await fetch(`/api/users/getuserbyuid?uid=${userId}&deviceid=${deviceId}&status=${status}`);

            if (response.ok) {


                if (status === "true") {
                    heartIcon_regular.classList.remove('fa-regular');
                    heartIcon_regular.classList.add('fa-solid');
                }
                else {
                    heartIcon_solid.classList.remove('fa-solid');
                    heartIcon_solid.classList.add('fa-regular');
                }
            }
        }
    }
</script>