@using Microsoft.AspNetCore.Identity
@using FlyBugClub_WebApp.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/img/img_logo/Bug(Đen).png" type="image/x-icon"/>
    <title>@ViewData["Title"]FlyBug Club</title>

    <!-- Bootrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css">

    <link rel="stylesheet" href="~/css/default_setting.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/store.css">
    <link rel="stylesheet" href="~/css/payment.css">
    <link rel="stylesheet" href="~/css/detail_card_device.css">

    <!-- JetBrains Mono font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,500;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">

</head>
<body>
    <div id="backgrounf-loding">
        <img id="preloader" src="~/img/img_logo/FlyBugBLue1.png" alt="loading..."/>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-angle-up"></i></button>
    <!-- ======================== -->
    <!-- ======== HEADER ======== -->
    <!-- =========================-->

    <header>
        <nav class="wrapper">
            <ul class="nav sidebar" style="display: none;">
                <li class="close" onclick=hideSidebar()><a href="#"><svg class="feather feather-x close-icon" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><line x1="18" x2="6" y1="6" y2="18" /><line x1="6" x2="18" y1="6" y2="18" /></svg></a></li>
                <li class="logo"><a href="#"><img class="logo" src="~/img/img_logo/logo01.png" alt="logo"></a></li>
                @if (SignInManager.IsSignedIn(User))
                {
                    var user = await UserManager.GetUserAsync(User);
                    var fullName = user.FullName;
                    var email = user.Email;
                    var ImgUser = user.ImgUser;
                    Context.Session.SetString("email", email);
                    var cuong = "";

                    <li class="avatar hideOnMobile">
                        <a asp-controller="Account" asp-action="UserPage" class="avatar-area">
                            <p>@fullName</p>
                            <img class="avatar-user" src="~/img/img_user/@ImgUser" alt="avatar" />
                        </a>
                    </li>
                }
                else
                {
                    <li class="login hideOnMobile">
                        <a href="/Identity/Account/LoginCustomer">Đăng nhập</a>
                        @* <span>/</span>
                        <a href="/Identity/Account/Register" class="dangky">Đăng ký</a> *@
                    </li>
                }
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Đồ án</a></li>
                <li><a href="#">Cửa hàng</a></li>
                <li><a href="#">Hình ảnh</a></li>
                <li><a href="#">Chiêu mộ</a></li>
                <li><a href="/store/Logout">Đăng xuât</a></li>
            </ul>

            <ul class="nav">
                <li class="menu-button" onclick=showSidebar()><a href="#"><svg class="feather feather-menu" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><line x1="3" x2="21" y1="12" y2="12" /><line x1="3" x2="21" y1="6" y2="6" /><line x1="3" x2="21" y1="18" y2="18" /></svg></a></li>
                <li class="hideOnMobile home"><a asp-controller="Home" asp-action="Home" data-target="/Home/Home">Trang chủ</a></li>
                <li class="hideOnMobile"><a href="#">Giới thiệu</a></li>
                <li class="hideOnMobile"><a href="#">Đồ án</a></li>
                <li class="hideOnMobile"><a asp-controller="Store" asp-action="Store" data-target="/Store/Store">Cửa hàng</a></li>
                <li class="logo"><a asp-controller="Store" asp-action="Store" data-target="/Store/Store"><img class="logo" src="~/img/img_logo/logo01.png" alt="logo"></a></li>
                <li class="hideOnMobile"><a href="#">Hình ảnh</a></li>
                <li class="hideOnMobile"><a href="#">Chiêu mộ</a></li>
                @if (SignInManager.IsSignedIn(User))
                {
                    var user = await UserManager.GetUserAsync(User);
                    var fullName = user.FullName;
                    var email = user.Email;
                    var ImgUser = user.ImgUser;
                    Context.Session.SetString("email", email);
                    var cuong = "";

                    <li class="avatar hideOnMobile">
                        <a asp-controller="Account" asp-action="UserPage" class="avatar-area">
                            <p>@fullName</p>
                            <img class="avatar-user" src="~/img/img_user/@ImgUser" alt="avatar" />
                        </a>
                    </li>
                }
                else
                {
                    <li class="center login hideOnMobile">
                        <a href="/Identity/Account/LoginCustomer">Đăng nhập</a>
                        <span>/</span>
                        <a href="/Identity/Account/Register" class="dangky">Đăng ký</a>
                    </li>
                }
            </ul>
        </nav>
    </header>
    <div class="text-logo">
        <img src="~/img/img_logo/FLYBUG CLUB.png" alt="Photo logo">
    </div>

    @* <header>
        <div class="container">
            <div class="nav">
                <ul class="nav__links">
                    <li class="">
                        <a asp-controller="Home" asp-action="Home" data-target="/Home/Home">Trang chủ</a>
                    </li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Đồ án</a></li>
                    <li class="">
                        <a asp-controller="Store" asp-action="Store" data-target="/Store/Store">Cửa hàng</a>
                    </li>   
                    <li><a href="#">Hình ảnh</a></li>
                    <li><a href="#">Chiêu mộ</a></li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var user = await UserManager.GetUserAsync(User);
                        var fullName = user.FullName;
                        var email = user.Email;
                        Context.Session.SetString("email", email);
                        var cuong = "";
                        <li class="center">
                            <a class="user-name" asp-controller="Account" asp-action="UserPage">@fullName</a>
                            <a href="/store/Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="center login">
                            <a href="/Identity/Account/LoginCustomer">Đăng nhập</a>
                            <span>/</span>
                            <a href="/Identity/Account/Register" class="dangky">Đăng ký</a>
                        </li>
                    }
                </ul>
                <div class="logo">
                    @*if (SignInManager.IsSignedIn(User))
                    {
                        var user = await UserManager.GetUserAsync(User);
                        var email = user.Email;
                        Context.Session.SetString("email", email);
                    }*@
                    @*<div class="main-logo">
                        <img src="~/img/img_logo/logo.png" alt="FlyBug logo">
                    </div>
                </div>
            </div>
            <div class="text-logo">
                <img src="~/img/img_logo/FLYBUG CLUB.png" alt="Photo logo">
            </div>
        </div>
    </header> *@

    @*@(ViewContext.RouteData.Values[" action"].ToString()= ="Store" ?"active":"")
    @(ViewContext.RouteData.Values["action"].ToString()= ="DetailCard" ?"active":"")
    @(ViewContext.RouteData.Values["action"].ToString()= ="Payment" ?"active":"")*@


    <!-- ======================== -->
    <!-- ========= BODY ========= -->
    <!-- =========================-->
    <div class="body">
        @RenderBody()
    </div>

    <!-- ======================== -->
    <!-- ======== FOOTER ======== -->
    <!-- =========================-->
    <div class="body">
        <!-- ================================ -->
        <!-- =========== FOOTER ============= -->
        <!-- =================================-->
        <footer class="footer">
            <div class="footer-leftside">
                <div class="left">
                    <div class="footer-left">
                        <iframe class="ggmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15678.190787267133!2d106.64595238715819!3d10.769299600000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f7c8bf050ff%3A0x4fa87595d124cc0c!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBIb2EgU2VuIC0gQ8ahIHPhu58gVGjDoG5oIFRow6Fp!5e0!3m2!1svi!2s!4v1691345035899!5m2!1svi!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="footer-info">
                        <div class="center">
                            <ul class="footer-center">
                                <h3>Website</h3>
                                <li><a asp-controller="Home" asp-action="Home" data-page-id="home">Trang chủ</a></li>
                                <li><a href="#">Giới thiệu</a></li>
                                <li><a href="#">Đồ án</a></li>
                                <li><a asp-controller="Store" asp-action="Store" data-page-id="store">cửa hàng</a></li>
                            </ul>
                        </div>
                        <div class="center">
                            <ul class="footer-center">
                                <h3>Hoạt động</h3>
                                <li><a href="#">Chiêu mộ</a></li>
                                <li><a href="#">Đồ án</a></li>
                                <li><a href="#">Hình ảnh</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
            <div class="footer-rightside">
                <div class="footer-right">
                    <div class="img-logo">
                        <img src="~/img/img_logo/flybug.png" alt="">
                    </div>
                    <div class="socials">
                        <a href="https://www.facebook.com/flybugclub.hsu"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://discord.gg/WXUxRBtBzq"><i class="fa-brands fa-discord"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>CopyRight &copy; 2023 FLYBUGCLUB</p>
            </div>
        </footer>
    </div>


    <!-- ======== JavaScript ======== -->
    <script>
        function showSidebar() {
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'flex'
            sidebar.style.justifycontent = 'center'
        }

        function hideSidebar() {
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'none'
        }
    </script>

    @*JS*@
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    
    @*Main Function*@
    <script src="~/js/reloader.js"></script>
    <script src="~/js/GoToTop.js"></script>

    @*Store*@
    <script src="~/js/pagination.js"></script>
    <script src="~/js/search_function.js"></script>
    <script src="~/js/input_date_now.js"></script>

    @*Payment*@
    <script src="~/js/slidebestseller.js"></script>
    <script src="~/js/qty.js"></script>

    
    
    @*@await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>
