@*@model List<FlyBugClub_WebApp.Models.BillBorrow>*@
@model BillModel

<div class="mw1440">
    <div class="row w93">
        <div class="col-8">
            <div class="function function-bill">
                <div class="top-box">
                    @if (ViewBag.fillOption == "all_bills")
                    {
                        <div class="count">
                            <p>Waitting: <span class="text-yellow">@ViewBag.countWaiting</span></p>
                        </div>
                        <div class="count">
                            <p>Borrowing: <span class="text-purple">@ViewBag.countBorrowing</span></p>
                        </div>
                        <div class="count">
                            <p>Done: <span class="text-green">@ViewBag.countDone</span></p>
                        </div>
                    }
                    else if (ViewBag.fillOption == "waiting_bill")
                    {
                        <div class="count">
                            <p>Waitting: <span class="text-yellow">@ViewBag.countWaiting</span></p>
                        </div>
                    }
                    else if (ViewBag.fillOption == "borrowing_bill")
                    {
                        <div class="count">
                            <p>Borrowing: <span class="text-yellow">@ViewBag.countBorrowing</span></p>
                        </div>
                    }
                    else if (ViewBag.fillOption == "done_bill")
                    {
                        <div class="count">
                            <p>Done: <span class="text-yellow">@ViewBag.countDone</span></p>
                        </div>
                    }
                    <div class="combobox">
                        <form asp-controller="OrderProcessing" asp-action="FilterBills" method="get">
                            <select name="filterBills" id="filterBills" onchange="this.form.submit()">
                                @if(ViewBag.fillOption == "all_bills")
                                {
                                <option value="all_bills" selected>All</option>
                                <option value="waiting_bill">Waiting</option>
                                <option value="borrowing_bill">Borrowing</option>
                                <option value="done_bill">Done</option>
                                }
                                else if(ViewBag.fillOption == "waiting_bill")
                                {
                                <option value="all_bills">All</option>
                                <option value="waiting_bill" selected>Waiting</option>
                                <option value="borrowing_bill">Borrowing</option>
                                <option value="done_bill">Done</option>
                                }
                                else if(ViewBag.fillOption == "borrowing_bill")
                                {
                                <option value="all_bills">All</option>
                                <option value="waiting_bill">Waiting</option>
                                <option value="borrowing_bill" selected>Borrowing</option>
                                <option value="done_bill">Done</option>
                                }
                                else if(ViewBag.fillOption == "done_bill")
                                {
                                <option value="all_bills">All</option>
                                <option value="waiting_bill">Waiting</option>
                                <option value="borrowing_bill">Borrowing</option>
                                <option value="done_bill" selected>Done</option>
                                }
                            </select>
                        </form>
                    </div>
                    
                </div>
                <table border="1" class="bill-table">
                    <thead>
                        <tr>
                            <th class="bid">BID</th>
                            <th>User name</th>
                            <th>UID</th>
                            <th class="date">Borrow date</th>
                            <th class="status">Status</th>
                            <th class="money">Money</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody class="parent-body">
                        @foreach (var item in Model.getBills)
                        {
                            <tr class="parent-tr" onclick="toggleRow('expandable-row-@item.Bid')">
                                <td class="outsite-info bid">@item.Bid</td>
                                <td class="outsite-info name word-left">@item.SidNavigation.Name</td>
                                <td class="outsite-info word-right sid">@item.Sid</td>
                                <td class="outsite-info">@item.BorrowDate.ToString("dd/MM/yyyy")</td>
                                @if (item.Status == 0)
                                {
                                    <td class="waiting outsite-info word-left status-bill"><span class="wrap-status yellow">Waiting</span></td>
                                }
                                else if (item.Status == 1)
                                {
                                    <td class="waiting outsite-info word-left status-bill"><span class="wrap-status purple">Borrowing</span></td>
                                }
                                else if (item.Status == 2)
                                {
                                    <td class="waiting outsite-info word-left status-bill"><span class="wrap-status green">Done</span></td>
                                }
                                
                                <td class="outsite-info word-right">
                                    @if (@item.Total != null)
                                    {
                                        // Biến kiểu Nullable có giá trị, bạn có thể truy cập giá trị bằng .Value
                                        @item.Total.Value.ToString("0.00");
                                    }
                                </td>
                                <td class="outsite-info active-function">
                                    <a asp-action="EditBill" asp-route-id="@item.Bid"><i class="fa-solid fa-pen-to-square"></i></a> <span>||</span>
                                    <a asp-action="DeleteBill" asp-route-id="@item.Bid"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr class="expandable-row detail-info detail" id="expandable-row-@item.Bid">
                                <td colspan="9" class="child">
                                    <table class="child-table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Device</th>
                                                <th >Quantity</th>
                                                <th>Re-Qty</th>
                                                <th>Price</th>
                                                <th>Sub total</th>
                                                <th>Status</th>
                                                <th>Qty damage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var detail in item.BorrowDetails)
                                            {
                                                <tr>
                                                    <td class="word-left" colspan="2">@detail.DeviceId</td>
                                                    <td>@detail.Quantity</td>
                                                    <td>@detail.ReturnQuantity</td>
                                                    <td class="word-right">
                                                        @if(@detail.Price != null){
                                                            @detail.Price.ToString("0.00");
                                                        }
                                                    </td>
                                                    <td class="word-right">@detail.SubTotal.ToString("0.00")</td>
                                                    <td>//</td>
                                                    <td>//</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @{
                int currentPage = ViewBag.CurrentPage;
                int totalPages = ViewBag.TotalPages;
                int maxVisiblePages = 6;
                int prevPage = currentPage - 1;
                int nextPage = currentPage + 1;
                string controllerName = "OrderProcessing";
            }
            <div class="center">
                @if (@ViewBag.TotalDevices > ViewBag.ItemPerPage)
                {
                    <div class="left-side" style="display:block">
                        <div class="pagination">
                            <ul>
                                @if (prevPage > 0)
                                {
                                    <li class="btn-back">
                                        <a class="page-link" href="@Url.Action("FilterBills", controllerName, new { filterBills = ViewBag.fillOption, page = prevPage })"><i class="fa-solid fa-location-arrow"></i></a>
                                    </li>
                                }

                                <li><a href="@Url.Action("FilterBills", controllerName, new { filterBills = ViewBag.fillOption, page = 1 })">1</a></li>

                                @if (currentPage > maxVisiblePages / 2 + 1)
                                {
                                    <li class="dot">...</li>
                                }

                                @for (int i = Math.Max(2, currentPage - (int)(maxVisiblePages / 2)); i <= Math.Min(totalPages - 1, currentPage + (int)(maxVisiblePages / 2)); i++)
                                {
                                    if (i == currentPage)
                                    {
                                        <li class="active"><span>@i</span></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("FilterBills", controllerName, new { filterBills = ViewBag.fillOption, page = i })">@i</a></li>
                                    }
                                }

                                @if (currentPage < totalPages - (int)(maxVisiblePages / 2))
                                {
                                    <li class="dot">...</li>
                                }

                                <li><a href="@Url.Action("FilterBills", controllerName, new { filterBills = ViewBag.fillOption, page = totalPages })">@totalPages</a></li>

                                @if (nextPage <= totalPages)
                                {
                                    <li class="btn-next">
                                        <a class="page-link" href="@Url.Action("FilterBills", controllerName, new { filterBills = ViewBag.fillOption, page = nextPage })"><i class="fa-solid fa-location-arrow"></i></a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                }
                else if (@ViewBag.TotalDevices <= ViewBag.ItemPerPage)
                {
                    <div class="left-side" style="height: 100px"></div>
                }
            </div>
            </div>
            
        <div class="col-4">
            <div class="function function-bill">
                <h5>History Update</h5>
                @foreach (var item in Model.getAllHistory)
                {
                    @if (item.BorrowDetailId == null)
                    {
                        <div class="wrap-histoty">
                            <div class="top-box">
                                <i class="fa-regular fa-clock"></i>
                                <div class="time-update">@item.UpdateDate.Value.ToString("dd/MM/yyyy HH:mm")</div>
                            </div>
                            <div class="content-update">
                                <b>@item.Uid</b> đã thay đổi trang thái hóa đơn số <b>@item.Bid</b>
                            </div>
                        </div>
                    }
                    else if (item.BorrowDetailId != null)
                    {
                        <div class="wrap-histoty">
                            <div class="top-box">
                                <i class="fa-regular fa-clock"></i>
                                <div class="time-update">@item.UpdateDate.Value.ToString("dd/MM/yyyy HH:mm")</div>
                            </div>
                            <div class="content-update">
                                <b>@item.Uid</b> đã thay đổi chi tiết hóa đơn số <b>@item.BorrowDetailId</b> trong đơn hàng số <b>@item.Bid</b>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
